
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 15px;
}

 body {
  margin :0
 }
 div {
  box-sizing: border-box;
 }

 .black-bg{
  width : 100%; height : 100%;
  background :rgba(0,0,0,0,5);
  position : fixed;
  padding: 20px;
 }

 .white-bg{
  width:100%; background: white;
  border-radius: 8px;
  padding:20px;
 }
 .menu {
  width:100%;
  background: white;
  padding :  50px;
  border-radius: 5px;
  float:left;
 }
 
 .menu a:nth-child(1) {
 position: relative;
 left:-210px; 
 }
.menu a:last-child {
  position: relative;
  left:110px;
  border-radius: 11px;  
  border-color: black;
  background-color: whitesmoke;  
  padding:15px;
  font-size: 15px;
}
 .menu a{
  position: relative;
  left:-140px;
  color: black;
  padding: 20px;
  font-size: 19px;
 }
 .scrap-image, .mypage-image{
  width: 58px;
  height: 58px;
  position: relative;
  top:-50px;
  left:245px;
  padding:8px;
 }

 .alarm-image{
  width: 60px;
  height: 60px;
  position: relative;
  top:-50px;
  left:245px;
  padding:8px;
 }
 .banner {
    display: inline-block;
    width:100%;
    height: 400px;
    text-align: center;
    background-color: lightgray;
    top:10px;
    position: relative;
 }

.card-view {
    display: inline-block;
    text-align: center;
    top:50px;
    position: relative;
    width:90%;
    height:500px;
}
.card-list{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* 필요에 따라 추가: 카드가 너무 많아 한 줄에 다 담지 못할 경우 다음 줄로 넘어가게 하는 속성 */
    padding:15px;
    
}
.card {
    width: 16rem;
    min-height: 14rem; 
}

.main-banner{
    display: inline-block;
    width:70%;
    height: 400px;
    text-align: center;
    background-color: lightgray;
    border-radius: 11px;
    position: relative;
    top:-50px;
}